# BondHome MQTT Bridge Configuration

# REQUIRED: MQTT Broker address (e.g., tcp://10.0.1.107:1883)
BOND_BROKER=tcp://mqtt.home:1883

# REQUIRED: Bond Bridge IP or Hostname
BOND_BRIDGE=

# REQUIRED: Bond Bridge API Token
BOND_TOKEN=

# OPTIONAL: MQTT Authentication
BOND_MQTT_USER=
BOND_MQTT_PASS=

# OPTIONAL: MQTT Client ID
BOND_MQTT_ID=bondhome-mqtt

# OPTIONAL: Verbose Logging (true/false)
BOND_VERBOSE=false
